.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  transition: all ease-in-out 0.3s;
  background: #c23866;
  color: #fff;
}

.card___grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
}